[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Name=Sistema Recepción Hotel 2026
Comment=Sistema de Gestión de Consumos y Reservas
Exec=/home/USUARIO/recepcion2026/run_hotel.sh
Path=/home/USUARIO/recepcion2026
Icon=applications-office
Categories=Office;Application;
StartupNotify=true
